{% extends 'base.html.twig' %}

{% block title %}CreditCard index{% endblock %}

{% block body %}
    <h1>CreditCard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreditNumber</th>
                <th>CardHolder</th>
                <th>ExpirationDate</th>
                <th>Cvv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit_card in credit_cards %}
            <tr>
                <td>{{ credit_card.id }}</td>
                <td>{{ credit_card.creditNumber }}</td>
                <td>{{ credit_card.cardHolder }}</td>
                <td>{{ credit_card.expirationDate ? credit_card.expirationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ credit_card.cvv }}</td>
                <td>
                    <a href="{{ path('app_credit_card_show', {'id': credit_card.id}) }}">show</a>
                    <a href="{{ path('app_credit_card_edit', {'id': credit_card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_credit_card_new') }}">Create new</a>
{% endblock %}
