{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <h1>Ad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Enterprise</th>
                <td>{{ ad.enterprise }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ ad.source }}</td>
            </tr>
            <tr>
                <th>ExpirationDate</th>
                <td>{{ ad.expirationDate ? ad.expirationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ad_index') }}">back to list</a>

    <a href="{{ path('app_ad_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ad/_delete_form.html.twig') }}
{% endblock %}
